<div class="container col-6 p-5 m-5 mx-auto">
  <h1 class="display-1 text-center mb-5 fw-bold">Todo App</h1>
  <form
    class="d-flex align-items-center gap-4"
    [formGroup]="todoForm"
    (ngSubmit)="addTodo()"
  >
    <input
      type="text"
      class="form-control form-control-lg p-3 shadow-sm border-2"
      placeholder="What you wanna do today?"
      formControlName="text"
    />
    <button class="btn btn-primary px-5 py-3 shadow-sm">Add</button>
  </form>

  <ul class="list-group mt-5 shadow fs-5">
    <li class="list-group-item" *ngFor="let todo of todos">{{ todo.text }}</li>
  </ul>
</div>
